<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/index" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		<intercept-url pattern="/listarclientes" access="hasRole('ADMIN')" />
		<intercept-url pattern="/cliform" access="hasRole('ADMIN')" />
		<intercept-url pattern="/guardacambio" access="hasRole('ADMIN')" />
		<form-login 
			login-page="/login"
			authentication-failure-url="/error"
       		username-parameter="username"
       		password-parameter="password"
		/>
		<csrf />
		<logout logout-success-url="/login" />
	</http>
	
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt"/>
		    <jdbc-user-service data-source-ref="dataSource"
		     users-by-username-query=" 
		    select rut_emp as username, clave_emp as password, 1 as enabled from empleado where rut_emp=?"
		
		            authorities-by-username-query="select u.rut_emp as username, ur.rol as authority from empleado u,
		             login ur 
					where u.rut_emp = ur.rut_emp and u.rut_emp = (SELECT rut_emp from empleado where rut_emp = ?)" />
		       
		</authentication-provider>
	</authentication-manager>
	
</bean:beans>